/*
    Theme Name: Anyar
    Theme URL: https://bootstrapmade.com/anyar-free-multipurpose-one-page-bootstrap-theme/
    Author: BootstrapMade
    Author URL: https://bootstrapmade.com
*/

/* ==== Google font ==== */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700,600);
@import url('font-awesome.css');
/* ==== overwrite bootstrap standard ==== */
@import url('animate.css');



body {
	font-family:'Open Sans', Arial, sans-serif;
	font-size:14px;
	font-weight:300;
	line-height:1.6em;
	color:#fff;
	background-color:#fff;
	overflow-x:hidden;
}

hi,h2,h3,h4,h5,h6 {
	color:#333;
	line-height:1.1em;
}

p {
	color:#333;
	font-size:13px;
}
a {
    text-decoration:none;
    transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -webkit-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    outline: none;
	color:#333;
}
a:hover {
	text-decoration: none;
	color:#eee;
	}

.btn {
	margin-top:20px;
	display: inline-block;
	padding: 10px 20px;
	margin-bottom: 0;
	font-size: 14px;
	text-transform:uppercase;
	font-weight: normal;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	  touch-action: manipulation;
	cursor: pointer;
	-webkit-user-select: none;
	 -moz-user-select: none;
	  -ms-user-select: none;
		  user-select: none;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px;
	background-color: #fff;
	color:#999;
}

.btn-default {
	color: #999;
	background-color: #fff;
	border-color: #fff;
}

.btn:hover {
	color: #fff;
	background-color: #d9ae6a;
	border-color: #d9ae6a;
	padding: 10px 20px;
}

/*===========================
  Menu and Navigation
============================ */
.navigation  {
	background-color:#fff;
	padding:0;
}

.navbar-brand h1 {
	margin-top:9px;
	padding-top:5px;
	float: left;
	font-size: 25px;
	color:#d9ae6a;
	text-transform:uppercase;
	font-weight:900;
}
@media (max-width: 500px){
    #about{
        padding-left: 2em !important;
        padding-right: 2em !important;
    }
}
@media (max-width: 768px) {
  .navbar-brand {
      margin-top:0;
      padding-top:0;
  }
}
.menu {
	font-size:12px;
	float:right;
	text-transform:uppercase;
	font-weight:700;
}

.menu ul.nav-tabs li {
	color:#000;
}

.nav-tabs {
	border-bottom: 0;
}
.nav-tabs > li {
	float: left;
	margin-bottom: 0;
}
.nav-tabs > li > a {
	border-radius:0;
	color:#333;
	padding:30px;
}

.nav-tabs > li > a:hover {
	color: #d9ae6a;
	border-color: #fff #fff #fff;
	border-radius:0;
	background-color:#fff;
	transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
}
.nav-tabs > li > a.active {
	color: #d9ae6a;
	border-radius:0;
	transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
}

/*===========================
  Slider
============================ */
.slider {
  position: relative;
  padding:50px;
  background:#f8f8f8;
  padding-top:130px;
}

.slider img {
    width: 100%;
}

#carousel-slider {
  position: relative;
}

#carousel-slider .carousel-indicators {
  bottom: -35px;
}

#carousel-slider .carousel-indicators li {
  border: 1px solid #ffbd20;
}

#carousel-slider a i {
	border: 1px solid #d9ae6a;
	border-radius:50%;
	font-size: 28px;
	height: 50px;
	padding: 8px;
	position: absolute;
	top: 50%;
	width: 50px;
	color:#fff;
	background:#d9ae6a;
}

#carousel-slider a i:hover {
  background:#deae62;
  color:#fff;
  border: 1px solid #d9ae6a;
}

#carousel-slider
.carousel-control {
  width:inherit;
}

#carousel-slider .carousel-control.left i {
  left:50px
}

#carousel-slider .carousel-control.right i {
  right: 50px;
}

#carousel-slider
.carousel-control.left,
#carousel-slider
.carousel-control.right {
  background: none;
}

/*===========================
  About
============================ */
#about  {
	margin-top:-70px;
	/* padding:100px; */
    padding-top: 100px;
    padding-bottom: 100px;
}

.center h2{
  font-size: 25px;
  margin-top: 0;
  margin-bottom: 10px;
  text-align:center;
  color:#333;
  text-transform:uppercase;
  font-weight:600;
}

.lead {
	text-align:center;
	font-size:16px;
	margin-bottom:50px;
}

/* --- progress --- */
.progress {
	height: 40px;
}
.progress-bar {
  font-size: 14px;
  line-height: 40px;
}

.panel-default{
  border-color: transparent;
}

.panel-default>.panel-heading,
.panel{
  background-color: #e6e6e6;
  border:0 none;
  box-shadow:none;
}

.panel-default>.panel-heading+.panel-collapse .panel-body{
  background: #fff;
  color: #858586;
}

.panel-body{
  padding: 20px 20px 10px;
}

.panel-group .panel+.panel{
  margin-top: 20px;
  border-top: 1px solid #fff;
}

.panel-group .panel{
 border-radius:4px;
}

.panel-heading{
	border-radius:4px;
}

.panel-title>a{
  color: #4e4e4e;
}

.accordion-inner img{
  border-radius: 4px;
}


.panel-heading.active{
  background: #1f1f20;
}

.panel-heading.active .panel-title>a{
  color:#fff;
}

a.accordion-toggle  i{
  width: 40px;
  line-height: 38px;
  font-size: 20px;
  margin-top: -10px;
  text-align: center;
  margin-right: -15px;
  background: #d9ae6a;
  color:#fff;
  border-radius:4px;
}

.panel-heading.active a.accordion-toggle i{
  background: #d9ae6a;
  color: #fff;
  border-radius:4px;
}

.panel-heading.active a.accordion-toggle.collapsed i{
  background: #d9ae6a;
  color: #fff;
}

/*===========================
  Services
============================ */
#services {
	padding:100px;
	background:#f6f6f6;
}

#services img {
	padding-top:30px;
	margin-bottom:30px;
}

#services h3 {
	margin-bottom:30px;
}

#feature {
	padding:80px;
}

#feature i {
	font-size:40px;
	margin-top:70px;
	margin-bottom:30px;
	color:#fff;
	padding:50px;
	background:#d9ae6a;
	border-radius:50%;
}

#feature h3 {
	margin-top:20px;
	margin-bottom:20px;
	font-size:18px;
	color: #333;
}

.hi-icon-effect i.fa:hover {
	background:#fff;
	color: #d9ae6a;
	-webkit-transition: color 300ms, background-color 300ms;
  -moz-transition: color 300ms, background-color 300ms;
  -o-transition:  color 300ms, background-color 300ms;
  transition:  color 300ms, background-color 300ms;
}

#contact {
	background:#f6f6f6;
	padding:100px;
}

/* google map */
#google-map{
	position:relative;
	margin-top:10px;
    height: 530px;
}

#sendmessage {

}

.validation {
    color: red;
    display:none;
    margin: 0 0 20px;
    font-weight:400;
    font-size:13px;
}

#sendmessage {
    color: green;
    border:1px solid green;
    display:none;
    text-align:center;
    padding:15px;
    font-weight:600;
    margin-bottom:15px;
}

#errormessage {
    color: red;
    display:none;
    border:1px solid red;
    text-align:center;
    padding:15px;
    font-weight:600;
    margin-bottom:15px;
}

#sendmessage.show, #errormessage.show, .show {
	display:block;
}


.form-group label {
  color: #4E4E4E;
  font-size: 14px;
  font-weight: 300;
}

.form-group .form-control {
  padding: 7px 12px;
  border-color:#f2f2f2;
  box-shadow: none;
}

textarea#message{
  resize: none;
  padding: 10px;
}

.center h3{
  margin-top: 0;
  margin-bottom: 20px;
  text-align:center;
}

/*===========================
  Footer
============================ */
footer {
	padding:50px;
	background:#dab273;
}

footer h4 {
	margin-bottom:30px;
	text-transform:uppercase;
	text-shadow:none;
	font-weight:550;
	color:#fff;
}

.contact-info {
	color:#333;
}

.contact-info ul {
	list-style:none;
	padding-left: 0;
}

.contact-info ul li i {
	margin-bottom:20px;
}

.widget {
  padding-left: 0;
}

ul.sidebar-gallery {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar-gallery li {
  display: inline-block;
  margin: 0 10px 10px 0;
}

.sidebar-gallery li a {
  border-radius: 4px;
  display: inline-block;
}

.form-inline .form-group {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
	margin-top:20px;
	display: inline-block;
	padding: 10px 20px;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: normal;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	  touch-action: manipulation;
	cursor: pointer;
	-webkit-user-select: none;
	 -moz-user-select: none;
	  -ms-user-select: none;
		  user-select: none;
	background-image: none;
	border-radius: 4px;
	background-color: #fff;
}

ul.social-network {
	list-style:none;
	margin-top:20px;
	padding:10px;
	transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}
.sub-footer  {
	background:#d9ae6a;
	padding:30px;
}

ul.social-network li {
	display:inline;
	margin: 0 50px;
	font-size:25px;
	margin-left:-10px;
}

ul.social-network li a {
	color:#d0d0d0;
}
.social-network li:hover .fa-twitter {
  color: #00abf0;
}
.social-network li:hover .fa-facebook {
  color: #39579a;
}
.social-network li:hover .fa-google-plus {
  color: #eb8984;
}
.social-network li:hover .fa-pinterest {
  color: #c9171e;
}
.social-network li:hover .fa-linkedin {
  color: #0077b5;
}
.social-network li:hover .fa-youtube-play {
  color: #C84941;
}
.social-network li:hover .fa-dribbble {
  color: #EA4C89 ;
}
.social-network li:hover .fa-pinterest-square {
  color: #EA4B49;
}

.copyright {
	margin-top:30px;
}

.copyright a {
	color:#000;
	font-weight:600;
	font-size:12px;
	text-shadow:none;
}

[data-tooltip]::after {
  content: attr(data-tooltip);
  opacity: 0;
  transition: 1s;
  pointer-events: none;
}
[data-tooltip]:hover::after {
  opacity: 1;
}
